.orderTable {
  td {
    font-size: 14px;
  }
  .__receiver {
    color: black;
    p {
      margin: 0;
      font-size: 12px;
      font-weight: 600;
    }
    i {
      font-size: 11px;
    }
  }

  button {
    font-size: 12px;
  }
}
