.create-order-right-form {
}

.create-order-right-form span {
  color: rgb(113, 113, 113);
  font-weight: 600;
  font-size: 12px;
}

.create-order-right-form .c-promotion {
}

.create-order-right-form .c-promotion button {
  font-size: 12px;
}
